.projects {
    text-align: center;

}

.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-block: 24px;
    
}