.error {
    padding-top: 32px;

}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error404 {
    font-size: 300px;
    color: var(--red);
    font-weight: bold;
}